.bg-main {
    -fx-background-image: url("img/background-main.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.bg-other {
    -fx-background-image: url("img/bg-other.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}